In [1]:
import pandas as pd
df = pd.read_csv('n_physicians_data_now.csv')
df.head()

/var/folders/5f/7v8mj7yn1kv22ww3m91nt6_00000gn/T/ipykernel_5076/4229694906.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('n_physicians_data_now.csv')

,Rfrg_NPI,Rfrg_Prvdr_Last_Name_Org,Rfrg_Prvdr_First_Name,Rfrg_Prvdr_MI,Rfrg_Prvdr_Crdntls,Rfrg_Prvdr_Gndr,Rfrg_Prvdr_Ent_Cd,Rfrg_Prvdr_St1,Rfrg_Prvdr_St2,Rfrg_Prvdr_City,...,HCPCS_Desc,Suplr_Rentl_Ind,Tot_Suplrs,Tot_Suplr_Benes,Tot_Suplr_Clms,Tot_Suplr_Srvcs,Avg_Suplr_Sbmtd_Chrg,Avg_Suplr_Mdcr_Alowd_Amt,Avg_Suplr_Mdcr_Pymt_Amt,Avg_Suplr_Mdcr_Stdzd_Amt
0,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,...,"Portable gaseous oxygen system, rental; includ...",Y,5,NaN,16,16,46.336250,20.097500,14.857500,15.298125
1,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,...,"Oxygen concentrator, single delivery port, cap...",Y,6,NaN,19,19,360.770000,98.223158,72.843684,79.824211
2,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,...,Standard hemi (low seat) wheelchair,Y,1,NaN,11,11,92.000000,39.230000,31.385455,33.552727
3,1003000126,Enkeshafi,Ardalan,NaN,M.D.,M,I,6410 Rockledge Dr Ste 304,NaN,Bethesda,...,"Elevating leg rests, pair (for use with capped...",Y,1,NaN,11,11,20.000000,10.210909,8.169091,8.456364
4,1003000480,Rothchild,Kevin,B,MD,M,I,12605 E 16th Ave,NaN,Aurora,...,"Oxygen concentrator, single delivery port, cap...",Y,4,NaN,11,13,272.003846,80.513846,64.407692,84.701538

In [2]:
print(df['Rfrg_Prvdr_Cntry'].value_counts())

# Filter data for US
df = df[df['Rfrg_Prvdr_Cntry'] == 'US']

Rfrg_Prvdr_Cntry
US    1048535
DE         21
TH          5
SA          3
KR          3
JP          2
MX          2
UY          2
LB          1
KH          1
Name: count, dtype: int64

In [3]:
print(df['Rfrg_Prvdr_Crdntls'].value_counts())

# Remove . inbetween letters to avoid duplicates
df['Rfrg_Prvdr_Crdntls'] = df['Rfrg_Prvdr_Crdntls'].str.replace('.', '')

print(df['Rfrg_Prvdr_Crdntls'].value_counts())

Rfrg_Prvdr_Crdntls
MD                      353803
M.D.                    328007
D.O.                     53590
DO                       41428
PA-C                     27581
                         ...
RNC NP                       1
M.D./FAMILY PRACTICE         1
RN PAC                       1
MS CRNP                      1
CRNP- AGPCNP                 1
Name: count, Length: 3281, dtype: int64
Rfrg_Prvdr_Crdntls
MD                      696732
DO                       97506
PA-C                     28985
NP                       24233
FNP                      18445
                         ...
PHD, APRN, FNP               1
MDFACS                       1
PHD, APRN,GNP,ANP-BC         1
APRN C                       1
MPH PA-C                     1
Name: count, Length: 2770, dtype: int64

In [4]:
# Replace a few more credentials
replace_dict = {', MD, PHD': 'MD, PHD',
                ', PA-C': 'PA-C',
                ',PA-C': 'PA-C',
                '(PA)': 'PA',}

df['Rfrg_Prvdr_Crdntls'] = df['Rfrg_Prvdr_Crdntls'].replace(replace_dict)

In [5]:
# Rename columns
print(df.columns)

df.drop(columns=['Rfrg_Prvdr_MI', 'Rfrg_Prvdr_St1', 'Rfrg_Prvdr_St2', 'Rfrg_Prvdr_State_FIPS',
                 'Rfrg_Prvdr_RUCA', 'Rfrg_Prvdr_RUCA_Desc',
                 'Rfrg_Prvdr_Type_cd', 'Rfrg_Prvdr_Type_Flag',
                 'Rfrg_Prvdr_Cntry'], inplace=True)

df.rename(columns=lambda x: x.replace('Rfrg_', '').replace('Prvdr_', ''), inplace=True)
df.rename(columns=lambda x: x.replace('_cd', 'code').replace('_CD', '_code').replace('_Cd', '_code').replace('_Desc', '_desc'), inplace=True)

df.rename(columns={'First_Name': 'FirstName',
                    'Last_Name_Org': 'LastName',
                    'Crdntls': 'Credentials',
                    'Gndr': 'Gender',
                    'Ent': 'Entity',
                    'Zip5': 'Zipcode',
                    'Crdntls': 'Credentials',
                    'Gndr': 'Gender',
                    'Ent_code': 'Entity_code',
                    'RUCA_CAT': 'RUCA_category',
                    'BETOS_Lvl': 'BETOS_level',
                    }, inplace=True)

print(df.columns)

Index(['Rfrg_NPI', 'Rfrg_Prvdr_Last_Name_Org', 'Rfrg_Prvdr_First_Name',
       'Rfrg_Prvdr_MI', 'Rfrg_Prvdr_Crdntls', 'Rfrg_Prvdr_Gndr',
       'Rfrg_Prvdr_Ent_Cd', 'Rfrg_Prvdr_St1', 'Rfrg_Prvdr_St2',
       'Rfrg_Prvdr_City', 'Rfrg_Prvdr_State_Abrvtn', 'Rfrg_Prvdr_State_FIPS',
       'Rfrg_Prvdr_Zip5', 'Rfrg_Prvdr_RUCA_CAT', 'Rfrg_Prvdr_RUCA',
       'Rfrg_Prvdr_RUCA_Desc', 'Rfrg_Prvdr_Cntry', 'Rfrg_Prvdr_Type_cd',
       'Rfrg_Prvdr_Type', 'Rfrg_Prvdr_Type_Flag', 'BETOS_Lvl', 'BETOS_Cd',
       'BETOS_Desc', 'HCPCS_CD', 'HCPCS_Desc', 'Suplr_Rentl_Ind', 'Tot_Suplrs',
       'Tot_Suplr_Benes', 'Tot_Suplr_Clms', 'Tot_Suplr_Srvcs',
       'Avg_Suplr_Sbmtd_Chrg', 'Avg_Suplr_Mdcr_Alowd_Amt',
       'Avg_Suplr_Mdcr_Pymt_Amt', 'Avg_Suplr_Mdcr_Stdzd_Amt'],
      dtype='object')
Index(['NPI', 'LastName', 'FirstName', 'Credentials', 'Gender', 'Entity_code',
       'City', 'State_Abrvtn', 'Zipcode', 'RUCA_category', 'Type',
       'BETOS_level', 'BETOS_code', 'BETOS_desc', 'HCPCS_code', 'HCPCS_desc',
       'Suplr_Rentl_Ind', 'Tot_Suplrs', 'Tot_Suplr_Benes', 'Tot_Suplr_Clms',
       'Tot_Suplr_Srvcs', 'Avg_Suplr_Sbmtd_Chrg', 'Avg_Suplr_Mdcr_Alowd_Amt',
       'Avg_Suplr_Mdcr_Pymt_Amt', 'Avg_Suplr_Mdcr_Stdzd_Amt'],
      dtype='object')

In [6]:
# Create a new column for state name
state_abbr_to_name = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'FL': 'Florida',
    'GA': 'Georgia',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming',
    'DC': 'District of Columbia',
    'PR': 'Puerto Rico',
    'VI': 'Virgin Islands',
    'GU': 'Guam',
    'MP': 'Northern Mariana Islands',
    'AS': 'American Samoa',
    'UM': 'United States Minor Outlying Islands'
}


df['State'] = df['State_Abrvtn'].map(state_abbr_to_name)
df['State'].unique()

array(['Maryland', 'Colorado', 'Florida', 'Pennsylvania', 'Kentucky',
       'South Carolina', 'New York', 'Oklahoma', 'California',
       'New Jersey', 'Massachusetts', 'Texas', 'Washington', 'Ohio',
       'District of Columbia', 'Minnesota', 'North Carolina', 'Iowa',
       'Arizona', 'Oregon', 'Alabama', 'Louisiana', 'Virginia',
       'Illinois', 'Tennessee', 'Wisconsin', 'Idaho', 'New Mexico',
       'Arkansas', 'Michigan', 'Vermont', 'Indiana', 'North Dakota',
       'Connecticut', 'Kansas', 'Puerto Rico', 'Nevada', 'Missouri',
       'Georgia', 'Nebraska', 'West Virginia', 'New Hampshire',
       'Rhode Island', 'Utah', 'Mississippi', 'Delaware', 'Montana',
       'Wyoming', 'South Dakota', 'Hawaii', 'Maine', 'Alaska',
       'Northern Mariana Islands', nan, 'Guam', 'Virgin Islands'],
      dtype=object)

In [7]:
# Remove nan
list_of_state_names = ['Maryland', 'Colorado', 'Florida', 'Pennsylvania', 'Kentucky',
                        'South Carolina', 'New York', 'Oklahoma', 'California',
                        'New Jersey', 'Massachusetts', 'Texas', 'Washington', 'Ohio',
                        'District of Columbia', 'Minnesota', 'North Carolina', 'Iowa',
                        'Arizona', 'Oregon', 'Alabama', 'Louisiana', 'Virginia',
                        'Illinois', 'Tennessee', 'Wisconsin', 'Idaho', 'New Mexico',
                        'Arkansas', 'Michigan', 'Vermont', 'Indiana', 'North Dakota',
                        'Connecticut', 'Kansas', 'Puerto Rico', 'Nevada', 'Missouri',
                        'Georgia', 'Nebraska', 'West Virginia', 'New Hampshire',
                        'Rhode Island', 'Utah', 'Mississippi', 'Delaware', 'Montana',
                        'Wyoming', 'South Dakota', 'Hawaii', 'Maine', 'Alaska',
                        'Northern Mariana Islands', 'Guam', 'Virgin Islands']

In [8]:
df = df[df['State'].isin(list_of_state_names)]
df['State'].unique()

array(['Maryland', 'Colorado', 'Florida', 'Pennsylvania', 'Kentucky',
       'South Carolina', 'New York', 'Oklahoma', 'California',
       'New Jersey', 'Massachusetts', 'Texas', 'Washington', 'Ohio',
       'District of Columbia', 'Minnesota', 'North Carolina', 'Iowa',
       'Arizona', 'Oregon', 'Alabama', 'Louisiana', 'Virginia',
       'Illinois', 'Tennessee', 'Wisconsin', 'Idaho', 'New Mexico',
       'Arkansas', 'Michigan', 'Vermont', 'Indiana', 'North Dakota',
       'Connecticut', 'Kansas', 'Puerto Rico', 'Nevada', 'Missouri',
       'Georgia', 'Nebraska', 'West Virginia', 'New Hampshire',
       'Rhode Island', 'Utah', 'Mississippi', 'Delaware', 'Montana',
       'Wyoming', 'South Dakota', 'Hawaii', 'Maine', 'Alaska',
       'Northern Mariana Islands', 'Guam', 'Virgin Islands'], dtype=object)

In [9]:
# df.to_csv('n_physicians_updated.csv', index=False)

In [10]:
df.columns

Index(['NPI', 'LastName', 'FirstName', 'Credentials', 'Gender', 'Entity_code',
       'City', 'State_Abrvtn', 'Zipcode', 'RUCA_category', 'Type',
       'BETOS_level', 'BETOS_code', 'BETOS_desc', 'HCPCS_code', 'HCPCS_desc',
       'Suplr_Rentl_Ind', 'Tot_Suplrs', 'Tot_Suplr_Benes', 'Tot_Suplr_Clms',
       'Tot_Suplr_Srvcs', 'Avg_Suplr_Sbmtd_Chrg', 'Avg_Suplr_Mdcr_Alowd_Amt',
       'Avg_Suplr_Mdcr_Pymt_Amt', 'Avg_Suplr_Mdcr_Stdzd_Amt', 'State'],
      dtype='object')

In [11]:
# Drop unwanted columns
cols_to_drop = ['Entity_code', 'State_Abrvtn', 'Zipcode', 'BETOS_code', 'HCPCS_code', 'HCPCS_desc', 'Tot_Suplrs', 'Tot_Suplr_Benes', 'Tot_Suplr_Clms', 'Tot_Suplr_Srvcs']
df = df.drop(cols_to_drop, axis=1)

df.head(2)

,NPI,LastName,FirstName,Credentials,Gender,City,RUCA_category,Type,BETOS_level,BETOS_desc,Suplr_Rentl_Ind,Avg_Suplr_Sbmtd_Chrg,Avg_Suplr_Mdcr_Alowd_Amt,Avg_Suplr_Mdcr_Pymt_Amt,Avg_Suplr_Mdcr_Stdzd_Amt,State
0,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Urban,Internal Medicine,Durable Medical Equipment,Oxygen and supplies,Y,46.33625,20.097500,14.857500,15.298125,Maryland
1,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Urban,Internal Medicine,Durable Medical Equipment,Oxygen and supplies,Y,360.77000,98.223158,72.843684,79.824211,Maryland

In [12]:
for i in df['RUCA_category'].unique():
    print(i)

# Filter data for Rural and Urban
phy = df[df['RUCA_category'].isin(['Rural', 'Urban'])]
phy['RUCA_category'].unique()

Urban
Rural
Unknown
nan

array(['Urban', 'Rural'], dtype=object)

In [13]:
# # Does not have any nan or unknown values:
# for i in phy['Type'].unique():
#     print(i)

In [14]:
print(phy.shape[0])

phy[phy.isna().any(axis=1)]

print(phy.shape[0])

# The dataset does not contain any more bad values (null or unknown)

1047375
1047375

In [15]:
# df['NPI'] = df['NPI'].astype(str)

In [17]:
phy.to_csv('n_physicians_updated.csv', index=False)