In [12]:
import pandas as pd
pd.set_option('display.max_columns', None)

df = pd.read_csv('n_physicians_updated.csv')
df.head()

,NPI,LastName,FirstName,Credentials,Gender,City,RUCA_category,Type,BETOS_level,BETOS_desc,Suplr_Rentl_Ind,Avg_Suplr_Sbmtd_Chrg,Avg_Suplr_Mdcr_Alowd_Amt,Avg_Suplr_Mdcr_Pymt_Amt,Avg_Suplr_Mdcr_Stdzd_Amt,State
0,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Urban,Internal Medicine,Durable Medical Equipment,Oxygen and supplies,Y,46.336250,20.097500,14.857500,15.298125,Maryland
1,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Urban,Internal Medicine,Durable Medical Equipment,Oxygen and supplies,Y,360.770000,98.223158,72.843684,79.824211,Maryland
2,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Urban,Internal Medicine,Durable Medical Equipment,Wheelchairs,Y,92.000000,39.230000,31.385455,33.552727,Maryland
3,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Urban,Internal Medicine,Durable Medical Equipment,Wheelchairs,Y,20.000000,10.210909,8.169091,8.456364,Maryland
4,1003000480,Rothchild,Kevin,MD,M,Aurora,Urban,General Surgery,Durable Medical Equipment,Oxygen and supplies,Y,272.003846,80.513846,64.407692,84.701538,Colorado

In [13]:
df.columns

Index(['NPI', 'LastName', 'FirstName', 'Credentials', 'Gender', 'City',
       'RUCA_category', 'Type', 'BETOS_level', 'BETOS_desc', 'Suplr_Rentl_Ind',
       'Avg_Suplr_Sbmtd_Chrg', 'Avg_Suplr_Mdcr_Alowd_Amt',
       'Avg_Suplr_Mdcr_Pymt_Amt', 'Avg_Suplr_Mdcr_Stdzd_Amt', 'State'],
      dtype='object')

In [14]:
df = df[['NPI', 'LastName', 'FirstName', 'Credentials', 'Gender', 'City', 'State', 'RUCA_category', 'Type']]
phy = df.groupby('NPI').first().reset_index()
phy.head()

,NPI,LastName,FirstName,Credentials,Gender,City,State,RUCA_category,Type
0,1003000126,Enkeshafi,Ardalan,MD,M,Bethesda,Maryland,Urban,Internal Medicine
1,1003000480,Rothchild,Kevin,MD,M,Aurora,Colorado,Urban,General Surgery
2,1003000522,Weigand,Frederick,MD,M,Deltona,Florida,Urban,Family Practice
3,1003000530,Semonche,Amanda,DO,F,Quakertown,Pennsylvania,Urban,Internal Medicine
4,1003000902,Lohano,Jaivanti,MD,F,Louisville,Kentucky,Urban,Family Practice

In [15]:
phy.to_csv('n_physicians_only.csv', index=False)